{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="row zoom-in bg-light text-dark">
    <div class="col-md-10 mx-auto">
        <div class="row mt-4">
            <div class="col-md-6">
<a href="#"><a href="#"><a href="#"><a href="#"><img src="../static/images/card/mob.png" alt="" class="img-fluid img-thumbnail mt-5" style="height: 600px;"><link rel="images" href="https://m.media-amazon.com/images/I/41Xe96WtZoL._SS36_.jpg"></a></a></a></a>
            </div>
            <div class="col-md-4"><h6>OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 8GB RAM, 256GB Storage)<br>
                Visit the OnePlus Store
                4.2 4.2 out of 5 stars    50,918 ratings | Search this page<br>
                Returns Policy<br>
                Returns Policy<br>
                1 Year Warranty<br>
                1 Year Warranty<br>
                Top Brand<br>
                Top Brand<br>
                Colour: Chromatic Gray<br><br>
                
                Chromatic Gray<br><br><br>
                 
                
                Pastel Lime<br>
               Size: 8GB RAM, 256GB Storage<br><br>
                
                8GB RAM, 128GB Storage<br><br><br>
                
                 
                
                8GB RAM, 256GB Storage<br><br>
                
                Brand	OnePlus<br>
                Operating System	OxygenOS<br>
                RAM Memory Installed Size	8 GB<br>
                CPU Model	Snapdragon<br>
                Memory Storage Capacity	256 GB<br>
                About this item<br>
                Camera: 108 MP Main Camera with EIS; 2MP Depth-Assist Lens and 2MP Macro Lens; Front (Selfie) Camera: 16MP<br>
                Rear Camera Mode: Hi-res 108MP mode, 3x Lossles Zoom, Photo,<br> Video, Nightscape, Expert, Panoramic, Portrait, Macro, Time-lapse,<br> Slow-motion, Long exposure, Dual-view video, Text Scanner,<br> 1080p/720p@30fps, Video zoom: 1080P@30fps, 720P@30fps,<br> Slow motion: 720P@120fps, Time-Lapse: 1080P@30fps, Steady Video EIS support
                Display: 6.72 Inches; 120 Hz Adaptive refresh rate; FHD+(1080×2400),<br> Colors: 16.7 Million colors, 391 ppi, Aspect Ratio: 20:9,<br> Brightness: 550 nits (typical), 680 nits (HBM)<br>
                Operating System: Oxygen OS based on Android 13.1
                Processor: Qualcomm Snapdragon 695 5G
                Battery & Charging: 5000 mAh with 67W SUPERVOOC Endurance Edition
                › See more product details
                   Report an issue with this product</h6></div>
                   <div class="col-md-2">
                    <a href="{% url 'addcart' %}" class="btn btn-warning text-light" style="border-radius: 30px;margin-left: -10px;margin-right: 1px;width: 200px;">ADD TO CART</a>
                    <a href="{% url 'sign' %}" class="btn btn-warning float-end text-light" style="border-radius: 30px;margin-left: 100px; margin-top: 10px;margin-right: 1px; width: 200px;">BUY NOW</a>

                   </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-10 mx-auto">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/card/r1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/card/r2.png" class="card-img-top" alt="...">
                <div class="card-body">
    <h1>radmi 1</h1>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's cont.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/card/r3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/card/r4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

