{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password successfully{% endblock title %}
{% block body %}
<div class="container my-5" style="background-color: hwb(0 100% 0%);">
<div class="row">
    <h3>Welcome Akash Kumar</h3>
    <div class="col-sm-2">
        <ul class="list-styled">
<li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-success">Change Password Done</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <h3 style="margin-left: 300px; color: green;">Password Changed Successfully!!!</h3>
        <div><iframe src="../static/images/card/ice3_files/Success.gif" height="690px"width="1000px" frameborder="0" class="giph-embed" allowfullscreen style="margin-left: 40px;"></iframe></div>
    </div>
</div>
</div>
{% endblock %}