{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block body %}
<div class="container my-5 bg-light text-dark">
    <div class="row">
        <h3 class="text-success"> <img src="{% static 'images/card/wel.jpg' %}" alt="" height="60"><b><u> Welcome Akash Kumar</u></b></h3>
    <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-success">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-warning mt-2">Address</a></li>
        <li class="d-grid"><a href="{% url 'passwordchange' %}" class="btn btn-success mt-2">Change Password</a></li>
    </ul>
    </div>
    <div class="col-sm-6 offset-sm-1">
        <h3>Change Password</h3>
        <hr>
        <form action="" method="post" novalidate class="shadow-sm p-5">
            {% csrf_token %}
            {% for fm in form %}
    <div class="form-group">
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-success mt-5" value="Save">
    {% if form.non_field_errors %}
    {% for error in form.non_fields_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
</form>
    </div>
    </div>
</div>
{% endblock %}