{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset Complete {% endblock title %}
{% block body %}
<div class="container" style="background-color: antiquewhite;">
    <div class="row my-3">
<div class="col-sm-6 offset-sm-3">

<h4 class="text-success">Reset Password Complete</h4>
<div><iframe src="../static/images/card/ice3_files/Success.gif" height="600px"width="600px" frameborder="0" class="giph-embed" allowfullscreen style="margin-left: 40px;"></iframe></div>

</div>
    </div>
</div>
{% endblock %}
