{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- Row1 Start -->
<div class="row" id="a6">
    <div class="col-md-10 mx-auto">
      <div class="row mt-4">
       
                <div class="col-sm-3">
          <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u1.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px; ">Product 1</span><br>
            
            <span class="fs-5">Rs. 25000</span>
          <div class="card h-100 shadow">
            <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
            </a>
            <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
            </a>
          </div>
        </div></a>
                </div>
                <div class="col-sm-3">

                    <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u4.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 2</span><br>
                      
                      <span class="fs-5">Rs. 25000</span>
                    <div class="card h-100 shadow">
                      <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                      </a>
                      <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                      </a>
                    </div>
                  </div></a>
                          </div>
                 
                <div class="col-sm-3">

                    <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u2.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 3</span><br>
                      
                      <span class="fs-5">Rs. 25000</span>
                    <div class="card h-100 shadow">
                      <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                      </a>
                      <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                      </a>
                    </div>
                  </div></a>
                          </div>
                          <div class="col-sm-3">

                            <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u3.png' %}" alt=""height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 4</span><br>
                              
                              <span class="fs-5">Rs. 25000</span>
                            <div class="card h-100 shadow">
                              <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                              </a>
                              <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                              </a>
                            </div>
                          </div></a>
                                  </div>
                                 
                                                               
           
    </div>
    <div class="row mt-4">
       
        <div class="col-sm-3">
  <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u5.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px; ">Product 5</span><br>
    
    <span class="fs-5">Rs. 25000</span>
  <div class="card h-100 shadow">
    <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
    </a>
    <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
    </a>
  </div>
</div></a>
        </div>
        <div class="col-sm-3">

            <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u6.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 6</span><br>
              
              <span class="fs-5">Rs. 25000</span>
            <div class="card h-100 shadow">
              <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
              </a>
              <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
              </a>
            </div>
          </div></a>
                  </div>
         
        <div class="col-sm-3">

            <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u7.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 7</span><br>
              
              <span class="fs-5">Rs. 25000</span>
            <div class="card h-100 shadow">
              <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
              </a>
              <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
              </a>
            </div>
          </div></a>
                  </div>
                  <div class="col-sm-3">

                    <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u8.png' %}" alt=""height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 8</span><br>
                      
                      <span class="fs-5">Rs. 25000</span>
                    <div class="card h-100 shadow">
                      <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                      </a>
                      <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                      </a>
                    </div>
                  </div></a>
                          </div>
                         
                                                       
   
</div>
<div class="row mt-4">
       
    <div class="col-sm-3">
<a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u9.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px; ">Product 9</span><br>

<span class="fs-5">Rs. 25000</span>
<div class="card h-100 shadow">
  <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
  </a>
  <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
  </a>
</div>
</div></a>
    </div>
    <div class="col-sm-3">

        <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u10.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 10</span><br>
          
          <span class="fs-5">Rs. 25000</span>
        <div class="card h-100 shadow">
          <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
          </a>
          <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
          </a>
        </div>
      </div></a>
              </div>
     
    <div class="col-sm-3">

        <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u11.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 11</span><br>
          
          <span class="fs-5">Rs. 25000</span>
        <div class="card h-100 shadow">
          <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
          </a>
          <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
          </a>
        </div>
      </div></a>
              </div>
              <div class="col-sm-3">

                <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u12.png' %}" alt=""height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 12</span><br>
                  
                  <span class="fs-5">Rs. 25000</span>
                <div class="card h-100 shadow">
                  <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                  </a>
                  <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                  </a>
                </div>
              </div></a>
                      </div>
                     
                                                   

</div>
<div class="row mt-4">
       
    <div class="col-sm-3">
<a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u13.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px; ">Product 13</span><br>

<span class="fs-5">Rs. 25000</span>
<div class="card h-100 shadow">
  <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
  </a>
  <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
  </a>
</div>
</div></a>
    </div>
    <div class="col-sm-3">

        <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u14.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 14</span><br>
          
          <span class="fs-5">Rs. 25000</span>
        <div class="card h-100 shadow">
          <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
          </a>
          <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
          </a>
        </div>
      </div></a>
              </div>
     
    <div class="col-sm-3">

        <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/headphone1.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 15</span><br>
          
          <span class="fs-5">Rs. 25000</span>
        <div class="card h-100 shadow">
          <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
          </a>
          <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
          </a>
        </div>
      </div></a>
              </div>
              <div class="col-sm-3">

                <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u16.png' %}" alt=""height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 16</span><br>
                  
                  <span class="fs-5">Rs. 25000</span>
                <div class="card h-100 shadow">
                  <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                  </a>
                  <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                  </a>
                </div>
              </div></a>
                      </div>
                     
                                                   

</div>
<div class="row mt-4">
       
    <div class="col-sm-3">
<a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u17.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px; ">Product 17</span><br>

<span class="fs-5">Rs. 25000</span>
<div class="card h-100 shadow">
  <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
  </a>
  <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
  </a>
</div>
</div></a>
    </div>
    <div class="col-sm-3">

        <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u18.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 18</span><br>
          
          <span class="fs-5">Rs. 25000</span>
        <div class="card h-100 shadow">
          <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
          </a>
          <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
          </a>
        </div>
      </div></a>
              </div>
     
    <div class="col-sm-3">

        <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u19.png' %}" alt="" height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 19</span><br>
          
          <span class="fs-5">Rs. 25000</span>
        <div class="card h-100 shadow">
          <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
          </a>
          <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
          </a>
        </div>
      </div></a>
              </div>
              <div class="col-sm-3">

                <a href="#" class="btn"><div class="item shadow"><img src="{% static 'images/card/u20.png' %}" alt=""height="300px" width="300px"><span class="fw-bold shadow" style="margin-left: 15px;">Product 20</span><br>
                  
                  <span class="fs-5">Rs. 25000</span>
                <div class="card h-100 shadow">
                  <a href=""><button type="submit" class="btn btn-outline-warning m-1">Add Cart</button>
                  </a>
                  <a href=""><button type="submit" class="btn btn-outline-warning mb-3" style="margin-left: 200px; margin-top: -50px;">buy now</button>
                  </a>
                </div>
              </div></a>
                      </div>
                     
                                                   

</div>
</div>
               </div>
<!--   Row1 end -->
{% endblock %}